{
  "env": {
    "development": {
      "presets": [["env", {"modules": false}], "react"],
      "plugins": [
        "external-helpers",
        ["transform-react-remove-prop-types", {"mode": "wrap"}]
      ]
    },
    "test": {
      "presets": [["env"], "react"]
    },
    "production": {
      "presets": [["env", {"modules": false}], "react"],
      "plugins": [
        "external-helpers",
        [
          "transform-react-remove-prop-types",
          {"mode": "remove", "removeImport": true}
        ]
      ]
    }
  }
}
