{
  "presets": [["env", {"modules": false}], "react"],
  "plugins": [
    "external-helpers",
    [
      "transform-react-remove-prop-types",
      { "mode": "wrap" }
    ]
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    },
    "production": {
      "plugins": [
        "external-helpers",
        [
          "transform-react-remove-prop-types",
          { "mode": "remove", "removeImport": true }
        ]
      ]
    }
  }
}
